/* 전체 레이아웃 설정 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f6f2;
    color: #333;
    padding: 20px;
    margin: 0;
}

/* 헤더 스타일 */
.topBox {
    background-color: #ffffff;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    align-items: center;
    padding: 5px 20px;
    z-index: 1000;
    border-bottom: 3px solid #8C6239;
}

.topBox h1 {
    flex: 1;
    text-align: center;
    font-size: 24px;
    color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* 상품 상세 페이지 스타일 */
.detailContainer {
    display: flex;
    width: 80%;
    max-width: 1000px;
    margin: 120px auto 40px;
    background-color: #fff;
}

/* 상품 이미지 */
.imgBox {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productImg {
    width: 100%;
    max-width: 500px;
}

/* 상품 정보 */
.infoBox {
    flex: 1;
    padding: 20px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.comment, .price {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
}

/* 수량 선택 */
.quantityBox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantityBox label {
    font-size: 15px;
    font-weight: bold;
}

.qBtn {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 13px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.qBtn:hover {
    background-color: #bbb;
}

#quantity {
    width: 40px;
    text-align: center;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

/* 총 가격 */
.total {
    font-weight: bold;
    margin-bottom: 35px;
}

/* 버튼 스타일 */
.cartBtn {
    flex: 1;
    padding: 12px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.cartBtn {
    background-color: #6e4f2a;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
}

.cartBtn:hover {
    background-color: #5f4424;
}